/* COLORS 
  Tifanny Blue - #0e7C7B
  Teal - #147F7E
  Cerulean Crayola - #37ABD5
  Carmine MP - #D52246
  - #f2f2ea
  Gray - #333
  light gray - #dfdfdf
  light red / pink #ff4066
*/

.bg-blue {
  background-color: #37ABD5;
}
.bg-red {
  background-color: #D52246;
}

.bg-teal {
  background-color: #147F7E;
}

.bg-light-gray {
  background-color: #dfdfdf;
}

.bg-secondary {
  background-color: #f2f2ea;
}

.bg-gray {
  background-color: #333333;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.border-solid-1 {
  border: 1px solid;
}

.hover-border-tertiary:hover {
  border-color: #147F7E;
  border: 1px solid;
}

