/* COLORS 
  Tifanny Blue - #0e7C7B
  Teal - #147F7E
  Cerulean Crayola - #37ABD5
  Carmine MP - #D52246
  - #f2f2ea
*/

.bg-blue {
  background-color: #37ABD5;
}
.bg-red {
  background-color: #D52246;
}

.bg-teal {
  background-color: #147F7E;
}

.bg-secondary {
  background-color: #f2f2ea;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}