.full-width {
  width: 100%;
}

.content-wrap {  
  width: 85%;
  padding: 50px 0;
  margin: 0 auto;
}
.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.space-between {
  justify-content: space-between; 
}

.grid {
  display: grid;
}

.grid-cols-2 {  
  grid-template-columns: 1fr 1fr;
}



@media screen and (min-width:750px){
  .grid-cols-4 {  
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}